@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    color: white;
    background-color: rgb(15, 13, 13);
}
header{
    background-color: blueviolet;
    min-height: 70px;
    padding: .5rem;
}
h1{
    text-align: center; 
}
#add{
    position: absolute;
    right :30px;
    top : 25px;
    border: none;
    background-color: rgb(86, 43, 226);
    padding: .5rem .5rem;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}

#add:hover{
    background-color: rgb(64, 26, 191);
}
#add:active{
    transform: scale(.8);
}

.main{
    width: 100vw;
    padding: .5rem;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

form{
    width: 50vw;
    height: 50vh;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 9, 63);
    position: relative;
    align-items: center;
    border-radius: 15px;
}

#submit{
    position:absolute;
    bottom: 50px;
    border: none;
    padding: .5rem 1rem;
    user-select: none;
    background-color: rgb(241, 82, 255);
    border-radius: 7px;
    cursor: pointer;
    transition: .1s;
}

#submit:hover{
    background-color: rgb(235, 20, 255);
}
#submit:active{
    transform: scale(.8);
}

#dropoutRate{

    font-weight: 900;
    color: greenyellow;
    position: absolute;
    bottom : 40%;
}